@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'GmarketSansMedium';
    text-align: center;


}
p {
    font-family: 'GmarketSansMedium';
    text-align: center;
}

.user-selection{
	text-align: center;
}

.button1 {
    font-family: 'GmarketSansMedium';
    background-color:#ffaa00;
    color: #ffffff;
    text-decoration-line : none;
    display :inline-block;
    border:none;
    border-radius:10px;
    padding:15px;
    min-height:20px; 
    min-width: 110px;
}

.button2 {
    font-family: 'GmarketSansMedium';
    background-color:#3a3afd;
    color: #ffffff;
    text-decoration-line : none;
    display :inline-block;
    border:none;
    border-radius:10px;
    padding:15px;
    min-height:20px; 
    min-width: 110px;
}

.button1:hover {
    background-color:#cb8801;
    color: #e3e3e3;
    transition: 0.7s;
}

.button2:hover {
    background-color:#22228c;
    color: #e3e3e3;
    transition: 0.7s;
}